.contacts-info
	display: flex
	flex-flow row wrap
	align-items flex-start
	justify-content center
	margin-top 50px
	margin-bottom 50px
	.content
	.title
		white-space nowrap

	.title
		font-size: 24px
		margin-bottom: 10px
		position: relative;
		text-align center
		@media screen and (min-width: $screen-sm-min)
			font-size: 18px
		@media screen and (min-width: $screen-md-min)
			text-align left

	.icon
	.glyphicon
		position: relative
		top: 3px
		font-weight: 600
		margin-right 20px
		@media screen and (min-width: $screen-sm-min)
			margin-right auto
			margin-left: -20px;
			left: -11px;


.contacts-info-block
	flex-shrink 0
	flex-grow 1
	margin-bottom: 60px;
	&:not(:first-child)
		border-left 1px solid $grey2

	@media screen and (max-width: $screen-xs-max)
		width: 100%
		text-align center
		margin-bottom: 50px;

	@media screen and (min-width: $screen-sm-min)
		margin-bottom: 10px;
		text-align: center

	@media screen and (min-width: $screen-lg-min)
		margin-bottom: 10px;
		text-align: center

.contacts-info-inner-block
	display: inline-block
	text-align left

	@media screen and (max-width: $screen-xs-max)
		width: 100%
		text-align center