text()
	font-size: 16px
	line-height: normal

h1()
	$fsz = 35px
	font-size: $fsz
	font-weight: 700

h2()
	$fsz =  25px
	font-size: $fsz
	font-weight: 700

h3()
	$fsz =  20px
	font-size: $fsz
	line-height: 24px
	font-weight: 700

h4()
	$fsz =  18px
	font-size: $fsz
	font-weight: 600

h5()
	$fsz =  14px
	font-size: $fsz
	font-weight: 600

h6()
	$fsz =  12px
	font-size: $fsz
	font-weight: 900


debug()
	background rgba(red, .1)

triangle($color, $dir, $width, $height = $width)
	width 0
	height 0
	border-width 0
	border-style solid
	border-color transparent
	border-top-width unit($height, 'px') unless $dir is 'B'
	border-left-width unit($width, 'px') unless $dir is 'R'
	border-right-width unit($width, 'px') unless $dir is 'L'
	border-bottom-width unit($height, 'px') unless $dir is 'T'
	border-top-color $color if $dir is 'T' or $dir is 'TL' or $dir is 'TR'
	border-left-color $color if $dir is 'L' or $dir is 'TL' or $dir is 'BL'
	border-right-color $color if $dir is 'R' or $dir is 'TR' or $dir is 'BR'
	border-bottom-color $color if $dir is 'B' or $dir is 'BL' or $dir is 'BR'

cross($color, $size, $thin)
	position relative
	width unit($size, 'px')
	height unit($size, 'px')

	$sq = 1.41421356
	$height = $size * $sq
	$off-ver = (($thin/ 2) * $sq) / 2
	$off-hor = (($thin/ 2) * $sq) / -4

	&:after
	&:before
		content ''
		position absolute
		background $color
		top unit($off-ver, 'px')
		width unit($thin, 'px')
		height unit($height - $thin, 'px')
		transform-origin unit($thin/ 2, 'px') 0

	&:before
		left unit($off-hor, 'px')
		transform rotate(-45deg)

	&:after
		right unit($off-hor, 'px')
		transform rotate(45deg)

baseBoxShadow()
	box-shadow 0 1px 2px 1px $grey1

hoverBoxShadow()
	box-shadow 0 2px 3px 1px $grey1

lineClamp($lines=4, $lineHeight=24px, $unit=px)
	overflow:hidden;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	line-height unit($lineHeight, $unit);
	height: unit($lineHeight*$lines, $unit);

	& > *
		line-height unit($lineHeight, $unit) !important;

ellipsis()
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

overflowY()
	max-height: 100%
	overflow-y: auto
	-webkit-overflow-scrolling touch

overflowX()
	max-width: 100%
	overflow-x: auto
	-webkit-overflow-scrolling touch
