/* font-family: "ClearSansLight"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansLight/ClearSansLight.eot");
	src: url("~font/ClearSansLight/ClearSansLight.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansLight/ClearSansLight.woff") format("woff"),
	url("~font/ClearSansLight/ClearSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

/* font-family: "ClearSansRegular"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansRegular/ClearSansRegular.eot");
	src: url("~font/ClearSansRegular/ClearSansRegular.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansRegular/ClearSansRegular.woff") format("woff"),
	url("~font/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

/* font-family: "ClearSansMedium"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansMedium/ClearSansMedium.eot");
	src: url("~font/ClearSansMedium/ClearSansMedium.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansMedium/ClearSansMedium.woff") format("woff"),
	url("~font/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

/* font-family: "ClearSansBold"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansBold/ClearSansBold.eot");
	src: url("~font/ClearSansBold/ClearSansBold.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansBold/ClearSansBold.woff") format("woff"),
	url("~font/ClearSansBold/ClearSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

/* font-family: "ClearSansItalic"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansItalic/ClearSansItalic.eot");
	src: url("~font/ClearSansItalic/ClearSansItalic.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansItalic/ClearSansItalic.woff") format("woff"),
	url("~font/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

/* font-family: "ClearSansMediumItalic"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansMediumItalic/ClearSansMediumItalic.eot");
	src: url("~font/ClearSansMediumItalic/ClearSansMediumItalic.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansMediumItalic/ClearSansMediumItalic.woff") format("woff"),
	url("~font/ClearSansMediumItalic/ClearSansMediumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

/* font-family: "ClearSansBoldItalic"; */
@font-face {
	font-family: "ClearSans";
	src: url("~font/ClearSansBoldItalic/ClearSansBoldItalic.eot");
	src: url("~font/ClearSansBoldItalic/ClearSansBoldItalic.eot?#iefix") format("embedded-opentype"),
	url("~font/ClearSansBoldItalic/ClearSansBoldItalic.woff") format("woff"),
	url("~font/ClearSansBoldItalic/ClearSansBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}
