h1,h2,h3,h4,h5,h6
	line-height: 1.5;
	small, .small
		color $grey
		font-weight 100
		padding-left: 6px
		font-size: 75%

h1
.h1
	h1()
	color $red
	&:first-letter
		text-transform: uppercase
	margin-top: 20px
	margin-bottom: 40px

h2
.h2
	color $red
	h2()
	&:first-letter
		text-transform: uppercase
	margin-top: 30px
	margin-bottom: 16px

h3
.h3
	h3()
	color $black
	&:first-letter
		text-transform: uppercase
	margin-top: 16px
	margin-bottom: 10px

h4
.h4
	h4()
	&:first-letter
		text-transform: uppercase
	margin-top: 14px
	margin-bottom: 10px

h5
.h5
	h5()
	&:first-letter
		text-transform: uppercase
	margin-top: 12px
	margin-bottom: 10px

h6
.h6
	h6()
	&:first-letter
		text-transform: uppercase
	margin-top: 12px
	margin-bottom: 10px