@import '~vendor/vendor' // need to be here to get boostrap variables
@import './app.config.styl'

@import './core/core.style.styl'
@import './layout/index'
@import './ui/index'

if ($debug)

	body
	body *
		outline 2px dashed red !important
		debug()
		hoverBoxShadow()