button
input[type="submit"]
input[type="button"]
.button
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;

	display: inline-block
	vertical-align: top
	cursor pointer
	border none
	padding: 12px 50px
	color $black
	font-size: 17px
	line-height: 22px
	text-transform: uppercase
	border-radius 100px
	opacity 1
	transition:opacity .3s ease-in-out, background-color .2s ease-in-out, transform .2s ease-in-out, box-shadow .2s ease-in-out

	&[disabled]
		opacity 0.5

	&.m-action
		color white
		background-color $red
		transform translate(0,0) scale(1)
		box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 20px 40px -30px rgba(255, 255, 255, 0) inset

		&:hover
			background-color $red
			box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 46px 40px -30px rgba(255, 255, 255, 0.16) inset
			background-position 0 0

		&:active
			background-color darken($red, 15%)
			transform translate(0%, 1px) scale(0.98)
			box-shadow 0 0 0 0 black, 0 -50px 40px -30px rgba(255, 255, 255, 0.2) inset
			transition-duration:0.2s, 0.02s, 0.02s, 0.02s

	&.m-text
		display: inline-flex
		align-items center
		position: relative
		border none
		outline none
		padding-left: 10px
		padding-right: 10px
		padding-top: 10px
		padding-bottom: 10px
		background: transparent
		font-size: 18px
		transform translate(0,0)
		transition opacity .2s ease-in-out, text-shadow .1s ease-in-out, transform .1s ease-in-out

		.text
			margin-left: 30px

		.icon
		.glyphicon
			position: absolute
			width: 30px
			height: 30px
			top: 50%
			left: 5px
			margin-top: -15px
			&:before
				line-height: 30px

		&:active
			transform translate(0, 1px)

	&.m-wide
		width: 100%
		max-width: 400px;