input()
	padding: 10px
	font-size: 16px
	font-weight: 100
	color $grey
	border 1px solid $grey1
	max-width: 100%
	width: 100%
	transition background .2s ease-in-out
	outline: none
	box-shadow inset 0 0 0 0 black
	background-color white
	background-image none
	&:focus
		box-shadow $hoverBoxShadow

	form &
		margin-bottom: 20px;

	&:-webkit-autofill
		-webkit-box-shadow: inset 0 0 0 0 red !important; // background
		background-color: red !important; // background
		-webkit-text-fill-color: $grey !important; // color
		color $grey !important; // color

	.ng-dirty &
		//&[required]:not(.ng-valid)
		//	background-image: linear-gradient(to top, lighten($error, 20%) 0px, lighten($error, 20%) 2px,rgba(255,255,255,0) 3px) !important;
		&.ng-invalid
			background-image: linear-gradient(to top, lighten($error, 20%) 0px, lighten($error, 20%) 2px,rgba(255,255,255,0) 3px) !important;
		&.ng-valid
			background-image: linear-gradient(to top, lighten($success, 20%) 0px, lighten($success, 20%) 2px,rgba(255,255,255,0) 3px) !important;


input
textarea
select
	input()

textarea
	resize vertical

::-webkit-input-placeholder
	color $grey2
	line-height: 20px
	font-size: 18px
:-moz-placeholder
	color $grey2
	line-height: 20px
	font-size: 18px
::-moz-placeholder
	color $grey2
	line-height: 20px
	font-size: 18px
:-ms-input-placeholder
	color $grey2
	line-height: 20px
	font-size: 18px



label.input
	display: inline-block
	vertical-align: middle
	cursor pointer
	margin-top: 2px
	input
		display none

	& + label
		display: inline-block
		vertical-align: middle
		cursor pointer
		font-size: 14px
		line-height: 26px;
		padding-left: 5px;
		margin-right: 30px;

	$inputViewSide = 12px
	.input-view
		display: inline-block
		position: relative
		width: $inputViewSide
		height: $inputViewSide
		padding: 1px
		border 1px solid $grey2
		overflow: hidden
		&:before
			content ""
			transition transform .16s ease-in-out
			width: unit($inputViewSide - 4, 'px')
			height: unit($inputViewSide - 4, 'px')
			position: absolute
			margin: auto
			z-index 1
			top: 0
			bottom: 0
			left: 0
			right: 0
			background $red
			transform scale(0)

	input[type="checkbox"] + .input-view
		border-radius 3px
		&:before
			border-radius 2px

	input[type="radio"] + .input-view, input[type="radio"] + .input-view:before
		border-radius 100px

	input:checked + .input-view:before
		transform scale(1)
