.breadcrumb
	li
		position: relative
		font-weight: 100
		color $grey
		padding 10px 5px
		a
			display: block
			color: $grey
			padding-right: 20px
			line-height: 24px
			&:after
				content: ">"
				position: absolute;
				top: 50%;
				margin-top: -8px;
				right: 4px;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: 100;
				line-height: 1;
				font-size 12px
				-webkit-font-smoothing: antialiased;
				color $grey

		&:last-child
			color $blue1
			a
				padding-right: 0
				color $blue1
				font-weight: 600
				&:after
					content:""

	@media screen and (max-width: $screen-xs-max)
		margin-bottom: 20px
