.nw-logo-black
.nw-logo-white
	width: 580px;
	height: 160px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;

.nw-logo-white
	background-image: url('~img/logo-white.svg');
.nw-logo-black
	background-image: url('~img/logo-black.svg');

.nw-logo
	width: 248px
	max-width 100%
	.nw-logo-description
		color: #fff;
		padding: 0 7px;
		font-size: 20px;
		letter-spacing: 3px;
		white-space: nowrap;
		font-weight: 100;
