.ui-tree-list
	$outlineWidth = 2px
	$border = $outlineWidth solid $grey1
	$itemHoverBgColor = rgba(50,50,50,0.1)
	$rootParentVerticalPadding = 20px

	position: relative
	z-index 100
	padding: $rootParentVerticalPadding 0;

	&, ul, ol, .deeper
		background white
		outline $border

	ul, ol, .deeper
		padding 0

	ul,	ol,	.deeper
		width: 240px
		position: absolute
		left 100%
		top 0
		transition transform .25s ease-in-out, opacity .15s ease-in-out
		transition-delay 0.20s, 0.20s
		transform-origin 0 0
		transform translate(-20%,0) scale3d(0,0,1)
		opacity 0
		z-index -1

	& > li
		&:first-child:hover
			box-shadow 0 ($rootParentVerticalPadding * -1) $itemHoverBgColor
		&:last-child:hover
			box-shadow 0 $rootParentVerticalPadding $itemHoverBgColor

	li
		position: relative // important
		font-size: 15px
		cursor: pointer

		a
			color $black

		> .text
			display block
			padding 12px 25px
			
		.count
			position: absolute;
			top: 50%;
			right: 24px;
			font-size: 10px;
			height: 16px;
			margin-top: -8px;
			min-width: 16px;
			line-height: 14px;
			border-radius: 100px;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
			text-align: center;

		//&:first-child
		//	border-top $border
		//
		//&:last-child
		//	border-bottom $border

		&.with-items
			& > .text
				position: relative

				&:before
					//content: "\e258"
					@extend .glyphicon
					@extend .glyphicon-menu-right:before

					position: absolute !important
					top: 17px
					right: 10px
					font-size: 10px

		&:hover
			z-index -1
			background: $itemHoverBgColor
			& >
				a
				.text
					color $red

				a
					text-decoration: underline

				ul,	ol, .deeper
					transition-delay 0s, 0.08s
					transform translate(2px,0) scale3d(1,1,1)
					opacity 1
					hoverBoxShadow()