.l-footer

	background: $black;
	padding: 22px 0
	a
		color: $grey
		&:hover
			color: white

	.logo-wrapper
		padding-top: 28px;
		padding-bottom: 15px

		@media screen and (min-width: $screen-sm-min)
			padding-right 60px

		.nw-logo
			max-width: 235px;
			width: 100%;
			margin: 0 auto;

		.nw-logo-description
			font-size: 14px
			text-align: center
			line-height: 21px
			color: $grey

	.copyright
		font-size: 11px
		@media screen and (max-width: $screen-xs-max)
			text-align: center
		@media screen and (min-width: $screen-sm-min)
			margin-top: -52px;
	.menu
	.contacts
		@media screen and (max-width: $screen-xs-max)
			line-height: 26px;
			& > :nth-child(2n-1)
				text-align: right

		@media screen and (min-width: $screen-sm-min)
			> *
				line-height 26px
				padding-top 8px
				padding-bottom 8px

	.menu
		@media screen and (max-width: $screen-xs-max)
			> *
				padding-top 10px
				padding-bottom 10px

	.contacts
		@media screen and (max-width: $screen-xs-max)
			.heading
				color:white;
		@media screen and (min-width: $screen-sm-min)
			.heading
				padding-bottom: 0
