html
body
	width: 100%
	height: 100%
	background: #333

body
	max-width: 100%
	//overflow-x hidden
	&, & *
		font-family 'ClearSans'

img
	max-width 100%
	width: auto
	height: auto

.l
	width: 100%
	height: 100%
	max-width: 100%
	overflowY()
	background-color white
	background-image url("~img/content-bg-left.png")
	background-position 0 calc(100% + 50px)
	background-repeat no-repeat
	background-attachment fixed
	background-size 520px

	@media screen and (min-width: $screen-sm)
		background-image: url("~img/content-bg-left.png"), url("~img/content-bg-right.png")
		background-position 0 calc(100% + 80px), 100% -129px
		background-size 459px, 589px

	@media screen and (min-width: $screen-md)
		background-size 509px, 619px

	@media screen and (min-width: $screen-)
		background-size 559px 741px, 729px 410px // real size


.l-main
	width: 100%
	height: 100%
	display: table
	position: relative

	.l-header
		display: table-row
		height: 1px
		//@media screen and (min-width: $screen-desktop)
		//	height: 100vh
		//	min-height

	.l-main-navigation
		display: table-row
		height: 1px

	.l-content
		display: table-row
		height: 100%

	.l-footer
		display: table-row
		height: 1px

	.l-container
		max-width 1008px
		margin: 0 auto

	& > .ui-carousel
		display: table-row
		height: 1px
