.container-fluid.l-container
	.row
		.col-xs-12
			h1.text-center Поиск: #[span.small(ng-bind="vm.searchQuery")]
	.row
		.col-xs-12
			div.text-center(ng-if="vm.searchResult.$resolved && !vm.searchResult.length") Ничего не найдено
			ul.row(ng-if="vm.searchResult.length" )
				li.col-xs-12.col-sm-6.col-md-4.l-mb-20.l-pb-10.black(
				ng-repeat="post in vm.searchResult"
				)
					.article.m-preview
						a.l-plr-15(href="{{post.link}}" ng-init="thumb=vm.getThumbnailUrl(post.acf.featured_image.sizes.thumbnail)")
							.row
								.thumbnail-cover
									.thumbnail(ng-style="{'background-image': '{{::thumb}}'}")
							.row
								.info.l-p-20
									.title.h4.red(ng-bind-html="::post.title.rendered")
									.description.f-lh-26.black(ng-bind-html="::post.excerpt.rendered")

//+comments-block
//
//+carousel-row
