// Font Weights
for val in 100 200 300 400 600 700 900
  .f-w-{val}
    font-weight val


// Font sizes
for val in 10 11 12 13 14 15 16 17 18 19 20 22 24 26 28 30 35 40
  .f-sz-{val}
    font-size unit(val, 'px')
  .f-lh-{val}
    line-height unit(val, 'px')


// Text alignement
.t-left
  text-align left
.t-right
  text-align right
.t-center
  text-align center
.t-top
  vertical-align top
.t-bottom
  vertical-align bottom
.t-middle
  vertical-align middle

.text
	text()